./test
doc/*
./exampletexts/*
./out
*.class
*.jar
*.fls
*.gitdate
*.log
*.texlog
*.pdf

MacRed.jar
*.jar
out/production/Red/META-INF/MANIFEST.MF
out/production/Red/TabManagementOldCode.scalax
out/production/Red/UndoableEditingSessionUnfinished.scalax
src/UndoableEditingSessionUnfinished.scalax
src/UndoableEditingSessionUnfinished.scalax
src/UndoableEditingSessionUnfinished.scalax
AppleRed/applered.properties
