./test
doc/*
./exampletexts/*
./out
*.class
*.jar
*.fls
*.gitdate
*.log
*.texlog
*.pdf

MacRed.jar
*.jar
out/production/Red/META-INF/MANIFEST.MF
out/production/Red/TabManagementOldCode.scalax
out/production/Red/UndoableEditingSessionUnfinished.scalax
src/UndoableEditingSessionUnfinished.scalax
src/UndoableEditingSessionUnfinished.scalax
src/UndoableEditingSessionUnfinished.scalax
AppleRed/applered.properties
exampletexts/L03.aux
exampletexts/L03.con
exampletexts/L03.nop
exampletexts/L03.not
exampletexts/L03.synctex.gz
out/test/Jed/formattest.sc
CLASSES/library.properties
CLASSES/LICENSE
CLASSES/META-INF/MANIFEST.MF
CLASSES/NOTICE
CLASSES/rootdoc.txt
CLASSES/scala-swing.properties
.classes
AppleRed/AppleRed-new.app/Contents/Resources/AppleRed.icns
AppleRed/AppleRed-new.app/Contents/PkgInfo
AppleRed/AppleRed-new.app/Contents/MacOS/newJavaApplicationStub
AppleRed/AppleRed-new.app/Contents/Info.plist
