<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>AppleRed</string>
    <key>CFBundleShortVersionString</key>
    <string>Revision 0f9978e (19 Jul 2022, 13:14)</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>logJavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>AppleRed.icns</string>
    <key>NSHumanReadableCopyright</key>
    <string>AppleRed 19 Jul 2022, 13:14 Copyright ©  2022 Bernard Sufrin, Oxford University</string>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>red editable document</string>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleTypeIconFile</key>
        <string>AppleRed.icns</string>
        <key>CFBundleTypeExtensions</key>
        <array>
          <string>md</string>
          <string>txt</string>
          <string>java</string>
          <string>xml</string>
          <string>tex</string>
          <string>sty</string>
          <string>cls</string>
          <string>scala</string>
          <string>jt</string>
          <string>jp</string>
          <string>j</string>
        </array>
        <key>CFBundleTypeOSTypes</key>
        <array>
          <string>****</string>
        </array>
      </dict>
    </array>
    <key>JVMMainClassName</key>
    <string>Red.AppleRed</string>
    <key>JVMOptions</key>
    <array>
      <string>-Dapplered.fifo-=~/AppleRed.Server.Port</string>
      <string>-Dapplered.port=33445</string>
      <string>-Dapple.laf.useScreenMenuBar=true</string>
      <string>-Dapplered.app=true</string>
    </array>
  </dict>
</plist>
